@font-face {
	font-family: nexa_bold;
	src: url('../fonts/nexa_bold.ttf'),
		 url('../fonts/nexa_bold.woff'),
		 url('../fonts/nexa_bold.eot');
}
@font-face {
	font-family: nexa_light;
	src: url('../fonts/nexa_light.ttf'),
		 url('../fonts/nexa_light.woff'),
		 url('../fonts/nexa_light.eot');
}
@font-face {
	font-family: droid_serif;
	src: url('../fonts/droidserif.ttf'),
		url('../fonts/droidserif.eot');
	
}
@font-face {
	font-family: din_medium;
	src: url('../fonts/din_medium.ttf'),
		 url('../fonts/din_medium.eot');
}
@font-face {
	font-family: icones;
	src: url('../fonts/icones.ttf'),
		 url('../fonts/icones.eot');
}

body {
	margin: 0px;
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.corpo {
	height: 100%;
	width: 100%;
	background: #f1f2f2;
}
#content {
	min-height: 200px;
}
.wrapper {
	height: 95%;
}
/*****************************************************************/
/********************* CABEÇALHO E MENU **************************/
/*****************************************************************/
#header {
	text-align: center;
	border-bottom: 1px solid #e6e7e8;
	background: #f1f2f2;		
	/*padding: 20px 0px 25px 0;*/
	padding: 85px 0px 30px 0;
	z-index: 9999;
	position: fixed;	
	width: 100%;
}

#header span {
	content: '';
	height: 100%;
	width: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: none;
}

#logo, #menu {
	display: inline-block;
}
#logo img {
	height: 22px;
	width: 88px;
	margin: 0px 0px -6px 0px;
}
#pull {
	display: none;
	background: url("../images/icon_menu.png") no-repeat center center;
	color: transparent;
}
#menu ul {
	list-style: none;
	margin: 0px 0px 0px 100px;
	padding: 0;
}
#menu ul li {
	display:inline-block;	
}
#menu ul li a {
	display: inline;
	margin: 0px 22px;
}
#menu a{
	font: bold 10pt/2em 'nexa_bold', Tahoma;
	color: #243942;
	text-decoration: none;
	text-transform: uppercase;
}
#menu ul li a:hover {
	ouline: none;
	text-decoration: none;	
}
#menu nav {
	display: inline-block;	
}
#menu ul li a {
	color: #fdba31;
}

#menu ul li a::before {
	color: #243942;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
#menu ul li a:hover::before, #menu ul li a:focus::before {
	opacity: 0;
}
#menu ul li a {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
#menu ul li a:hover {
	border-bottom: 3px solid #fdba31;
	border-top: 3px solid #fdba31;
	-webkit-animation: bordasurgir 0.3s;
	-moz-animation: bordasurgir 0.3s;
	animation: bordasurgir 0.3s;
	padding:8px 0 7px;
}

@-moz-keyframes bordasurgir {
	0% {
		padding:15px 0;
		border-color: rgba(253,186,48,0);
	}
	100% {
		padding: 8px 0 7px;
		border-color: rgba(253,186,48,1);
	}
}
@-webkit-keyframes bordasurgir {
	0% {
		padding:15px 0;
		border-color: rgba(253,186,48,0);
	}
	100% {
		padding: 8px 0 7px;
		border-color: rgba(253,186,48,1);
	}
}
#redes {
	display: inline-block;	
}
#redes a {
	border-left: 1px solid #dedfdf;
	padding: 0px 50px 0px 15px;
}
#redes .facebook:after {
	font-family: 'icones';
	content: '\e600';
	color: #bdbdbd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 21px;
	line-height: 17px;
	position: absolute;
}
#redes a:before {
	position: absolute;
	display: inline-block;
	content: '';
	border-left: 1px solid #e9eaea;
	height: 19px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left: -15px;
}
/*****************************************************************/
/********************* FIM CABEÇALHO E MENU **********************/
/*****************************************************************/

/*****************************************************************/
/********************* BOTOES PADROES - BOTAO 1*******************/
/*****************************************************************/
.bt_padrao1 {
	text-align: center;
	display: inline-flex;
	opacity: 1;
}
.bt_padrao1 .circulo {
	height: 70px;
	width: 70px;
	/*background: #004961;*/
	float: left;
}
.bt_padrao1 span {
	background: #fff url('../images/mais_noticias.png') no-repeat center center;
	display: block;
	width: 40px;
	margin: 15px 10px 5px 15px;
	height: 40px;
	border-radius: 100%;
	-moz-transition: 0.5s all;
	-webkit-transition: 0.5s all;
}
.bt_padrao1 .mensagem {
	/*background: #004961;*/
	width: 0px;
	height: 59px;
	float: right;
	padding: 5px 5px 6px 10px;
	-moz-transition:0.8s all;
	-webkit-transition:0.8s all;
	margin-left: -15px;
}
.bt_padrao1 p {
	/* display: none; */
	/* float: right; */
	background: #fff;
	font: normal 14px/1em "nexa_bold", tahoma;
	color: transparent;
	text-indent: -50px;
	text-decoration: none;
	padding: 25px 0px 21px 0px;
	-moz-transition: 0.5s all;
	-webkit-transition: 0.5s all;
	text-transform:uppercase;
}
.bt_padrao1 a:hover .circulo > span  {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
}

.bt_padrao1 a:hover > .mensagem {
	width: 127px;
	-moz-transition:0.8s all;
	-webkit-transition:0.8s all;
}
.bt_padrao1 a:hover > .mensagem p{
	padding-left: 22px;
	padding-right: 27px;
	color: #fdba31;
	text-indent: 0px;
	-moz-transition:0.6s all;
	-webkit-transition:0.6s all;
}

/*****************************************************************/
/************* BOTAO PADRAO 2 - FUNDO BRANCO COM BORDA VERDE ****/
/****************************************************************/
.botao_padrao2
{
	border: 2px solid #a1cf63;
	background: #FFF;
	font: normal 8pt/1em 'nexa_bold', Tahoma;
	color: #bdbdbd;
	margin: 2px 0px 10px 0px;
	text-transform: uppercase;
	padding: 15px 30px;
	border: 2px solid transparent;
	letter-spacing: 1px;
}

/*****************************************************************/
/***************** FIM BOTOES PADROES ****************************/
/*****************************************************************/

/*****************************************************************/
/********************* INTERVALOR ENTRE OS CAMPOS*****************/
/*****************************************************************/
.intervalo {
	height: 300px;
	width: 100%;
	background: url('../images/fundo_intervalo1.png');
	-moz-box-shadow: inset 0px 14px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0px 14px 0px rgba(0,0,0,0.2);
	box-shadow: inset 0px 14px 0px rgba(0,0,0,0.2);
}
#intervalo1 {
	background: url('../images/intervalo_1.png');
}
#intervalo2 {
	background: url('../images/fundo_intervalo2.png');
}
#intervalo3 {
	background: url('../images/intervalo_3.png');
	display: inline-block;
}
#intervalo4 {
	background: url('../images/intervalo_4.png');
}
/*****************************************************************/
/***************** FIM INTERVALOR ENTRE OS CAMPOS*****************/
/*****************************************************************/

/*****************************************************************/
/**** Página incial - Introdução da pagina inicial****************/
/*****************************************************************/
#home_intro {
	text-align: center;
	background: #f1f2f2;
	height: 92%;
}
#home_intro h1 {
	padding-top: 350px;
}
#home_intro h1 span {
	opacity: 0;
	font: normal 42pt/1.5em "nexa_bold", Tahoma;
}
.verde {
	color: #8dc63f;
}
.azul {
	color: #d1d3d4;
}
.cinza {
	color: #004961;
}
.amarelo {
	color: #fdba31;
}
#home_intro h1 span p{
	display: inline-block;
}
#home_intro .mensagem {
	padding: 30px 10% 0px;
}
#home_intro .mensagem .continue {
	display: inline-block;
}
#home_intro .mensagem h2 {
	opacity: 0;
	display: inline-block;
	color: #004961;
	font: normal 18/1.5em "nexa_bold", Tahoma;
	vertical-align: text-bottom;
	padding-bottom: 20px;
	margin-right: 10px;
	-webkit-transition-duration: 1.4s;		
}
#home_intro .continue .circulo {
	background: #f1f2f2;
	width: 75px;
	height: 75px;
	display: inline-block;
	border-radius: 50%;
	border: 9px solid #fdba31;
	vertical-align: text-bottom;
	margin-right: 50px;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	cursor: pointer;
}
#home_intro .continue .circulo img {
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	margin: 24px 24px;
	width: 28px;
	height: 28px;
}
#home_intro .mensagem .continue .circulo:hover {
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	border-color: #fff;
}
/*#home_intro .mensagem .continue:hover > h2 {
	opacity: 1 !important;
}*/
#home_intro .circulo .continue:hover > img {
	width: 25px;
	height: 25px;
	margin: 32%;	
}
#home_intro .mensagem .somos {
	display: inline-block;
	width: 500px;
}
#home_intro .mensagem .somos h4 {
	text-align: left;
	font: normal 16pt/1.5em "droid_serif", Times;
	color: #939598;
	
}
/*****************************************************************/
/**** FIM da Página incial - Introdução da pagina inicial*********/
/*****************************************************************/

/*****************************************************************/
/************** Página incial - ÁREA DE TRABALHOS*****************/
/*****************************************************************/
#home_trabalhos {
	position: relative;
	background: #004961;
	height: 750px;
	width: 100%;
}
#home_trabalhos .trabalhos_recentes {
	width: 450px;
	position: absolute;
	height: 100%;
	overflow: hidden;
}
#home_trabalhos .trabalhos_recentes_content{
	float: left;
	margin-top: 270px;
	margin-left: 100px;
}				
#home_trabalhos .trabalhos_recentes h2 {
	font: normal 42pt/1em "nexa_bold", tahoma;
	color: #fff;
	text-align: left;
	margin-bottom: 40px;
}	
#home_trabalhos .bt_padrao1 .circulo {
	background: #fdba31;
}
#home_trabalhos .bt_padrao1 .mensagem {
	background: #fdba31;
}
#home_trabalhos .bt_padrao1 p {
	background: #004961;
}

#home_trabalhos .trabalhos_recentes .bt_esconder{
	position:absolute;
	right: 5px;
	top: 50%;
}
#home_trabalhos .trabalhos_recentes .bt_esconder a{
	background: url('../images/trabalhos_esconder.png') no-repeat center center;
	height: 30px;
	width: 20px;
	display: inline-block;
	color: transparent;
}
/*Slider trabalhos*/
#home_trabalhos .projetos_slider {
	background: red;
	height: 100%;
	margin-left: 450px;
	position:relative;
}
/*slider trabalhos */

#home_trabalhos .projetos_slider .slider_menu {
	/*position: absolute;
	bottom: 0;
	background: #fff;
	padding: 20px 0 10px 100px;*/
	position: absolute;
	bottom: 0;
	background: #fff;
	width: 100%;
	padding: 20px 0px;
}
#home_trabalhos .projetos_slider .slider_menu input[type="range"]{
	width: 98%;
	-webkit-appearance: none;
	background-color: #e6e7e8;
	padding: 0 25px;
	margin: 0 10px;
	height: 10px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
	color: #00c;
}
#home_trabalhos .projetos_slider .slider_menu input[type="range"]:focus {
	outline: none;
}
#home_trabalhos .projetos_slider .slider_menu input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #8dc63f;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 7px #004961;
}
#home_trabalhos .projetos_slider .slider_menu input[type=range]::-moz-range-track {
	background: red;
	width: 4px;
	height: 10px;	
}

#home_trabalhos .projetos_slider .slider_menu ul {
		list-style: none;
		width: 100%;
		display: table;
	    table-layout: fixed;
	    overflow: hidden;
	    padding: 0;
	} 
	#home_trabalhos .projetos_slider .slider_menu ul li {
		display: table-cell;
		
	}
	#home_trabalhos .projetos_slider .slider_menu ul li a{
		background: #004961;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		text-indent: 9999;
		cursor: pointer;
		display: block;
		-webkit-transition: all 0.4s ease-in-out 0.2s;
		position: absolute;
		top: 50%;
	}
	#home_trabalhos .projetos_slider .slider_menu ul li .ativo{
		background-color: #8dc63f;
	    width: 17px;
	    height: 17px;
	    border-radius: 50%;
	    box-shadow: 0px 0px 0px 7px #004961;
	    position: absolute;
	    -webkit-transition: all 0.4s ease-in-out 0.2s;
   		top: 39%;
   }
   
   #home_trabalhos .projetos_slider .slider_menu span {
	   	width: 95%;
	   	margin-left: 2.5%;
		border-radius: 7px;
		background: #e6e7e8;
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		text-indent: -99999;
		height: 6px;
	}
	#home_trabalhos .projetos_slider .slider_imagens {
		position:relative;
		overflow: hidden;
		height: 95%;
	}
	#home_trabalhos .projetos_slider .slider_imagens ul {
		list-style: none;
		position:relative;
		display:table;
		width: 100%;
		height: 100%;
		margin: 0 0 -60px 0;
		padding: 0 0 0px 0;
		-webkit-transition: 0.5s left;
	    -moz-transition: 0.5s left;
	    -ms-transition: 0.5s left;
	    -o-transition: 0.5s left;
	}
	#home_trabalhos .projetos_slider .slider_imagens ul li {
		/*position: relative;
display:block;
width: 100%;
height: 100%;
float:left;
text-align: center;*/
	position: relative;
	display: table-cell;
	width: 90%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}
#home_trabalhos .projetos_slider .slider_imagens ul li .descricao_item {
	position: absolute;
	top: 250px;
	right: 15%;
	width: 220px;
	text-align: left;
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	-ms-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;
}
#home_trabalhos .projetos_slider .slider_imagens ul li .descricao_item h2 {
	font: normal 32pt/1.2em 'nexa_bold', Tahoma;
	color: #fff;
	letter-spacing: 1.5px;
}
#home_trabalhos .projetos_slider .slider_imagens ul li .descricao_item h4 {
	font: normal 14pt/1em 'nexa_light', Tahoma;
	color: #fff
}
#home_trabalhos .projetos_slider .slider_imagens ul li > img{
	width: 890px;
	height: 100%;	
	-webkit-transition: all 1.5s ease-in-out 0.2s;
	-moz-transition: all 1.5s ease-in-out 0.2s;
	-o-transition: all 1.5s ease-in-out 0.2s;
	-ms-transition: all 1.5s ease-in-out 0.2s;
	transition: all 1.5s ease-in-out 0.2s;
}

#home_trabalhos .projetos_slider .slider_imagens ul li:hover > .descricao_item {
	opacity: 0;
} 
#home_trabalhos .projetos_slider .slider_imagens ul li:hover > img {
	-webkit-transform: scale(1.5);
	/*margin-left: 25%;*/
	-webkit-filter: blur(3.3px);
	-moz-filter: blur(3.3px);
  	-o-filter: blur(3.3px);
  	-ms-filter: blur(3.3px);
  	filter: blur(3.3px);
  	filter: url(blur.svg#blur);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3.3');
	
}

#home_trabalhos .projetos_slider .slider_imagens ul li span{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out 0.2s;
	-moz-transition: all 0.5s ease-in-out 0.2s;
	-o-transition: all 0.5s ease-in-out 0.2s;
	-ms-transition: all 0.5s ease-in-out 0.2s;
	transition: all 0.5s ease-in-out 0.2s;
}
#home_trabalhos .projetos_slider .slider_imagens ul li span p {
	position: relative;
	top: 45%;
}
#home_trabalhos .projetos_slider .slider_imagens ul li:hover span {
	opacity: 1;
	-webkit-transform: scale(1);
}
/*****************************************************************/
/********** FIM Página incial - ÁREA DE TRABALHOS*****************/
/*****************************************************************/


/*****************************************************************/
/********** Página incial - ÁREA DE COMO TRABALHAMOS *************/
/*****************************************************************/
#home_comotrabalhamos {
	position: relative;
	background: #8dc63f;
	height: auto;
	margin: 0 auto;
	width: 100%;
	min-width: 1500px;
	text-align: center;
}
#home_comotrabalhamos > div {
	position: relative;
	opacity: 0;
	width: 750px;
	height: 750px;
	float: none;
	display: inline-block;
	margin: 0px -2px -4px -2px;
}
#home_comotrabalhamos .inner {
	text-align: center;
	margin-top: 100px;
}
#home_comotrabalhamos .trabalhamos_1 {
	background-color: #8dc63f;
}
#home_comotrabalhamos .trabalhamos_1 h3{
	font: normal 42pt/1.5em "nexa_bold", Tahoma;
	color: #fff;
}
#home_comotrabalhamos .trabalhamos_1 p{
	font: normal 12pt/1.9em "droid_serif", Times;
	padding: 0px 25%;
	color: #004961;
}
#home_comotrabalhamos .botao {
	margin: 70px 0;
}
#home_comotrabalhamos .botao a {
	border-color: #004961;
	border-width: 3px;
	background: #8dc63f;
	color: #004961;
	-webkit-transition: 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	-ms-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;
}
#home_comotrabalhamos .botao a:hover {
	background: #fdba31;
	
}

#home_comotrabalhamos .circulo {
	display: inline-block;
	height: 90px;
	width: 90px;
	border-radius: 50%;
}
#home_comotrabalhamos .trabalhamos_2 .circulo {
	border: 10px solid #fdba31;
}
#home_comotrabalhamos .trabalhamos_3 .circulo {
	border: 10px solid #fff;
}
#home_comotrabalhamos .trabalhamos_4 .circulo {
	border: 10px solid #8dc63f;
}

#home_comotrabalhamos h3{
	font: normal 18pt/1em "nexa_bold", Tahoma;
	display: inline-block;
	margin-top: 35px;				
}
#home_comotrabalhamos .trabalhamos_2 h3 {
	color: #fdba31;
}
#home_comotrabalhamos .trabalhamos_3 h3 {
	color: #004961;
}
#home_comotrabalhamos .trabalhamos_4 h3 {
	color: #004961;
}
#home_comotrabalhamos .normal .texto{
	display: block;	
	margin: 0 -20px;
}
#home_comotrabalhamos .tb-info-front h4 {
	font: normal 18pt/1em "nexa_bold", Tahoma;
	display: inline-block;
	border-bottom: 2px solid #336d81;
	padding-bottom: 5px;
	text-transform: uppercase;
	margin-top: 20px;
	color: #004961;
}
#home_comotrabalhamos .trabalhamos_2 .tb-info-front h4 {
	color: #fff;
}
#home_comotrabalhamos div {
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#home_comotrabalhamos .trabalhamos_2 .trabalho-item {
	background: #004961;
	border: 0px solid #fdba31;
}
#home_comotrabalhamos .trabalhamos_3 .trabalho-item {
	background: #fdba31;
	border: 0px solid #004961;
}
#home_comotrabalhamos .trabalhamos_4 .trabalho-item {
	background: #FFF;
	border: 0px solid #8dc63f;
}
#home_comotrabalhamos .trabalhamos_4 .tb-info-frente .texto h4 {
	color: #004961;
}

.trabalho-item {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	-webkit-transition: all 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.3s ease-in-out 0.3s;
	
	border: 0px solid #8dc52f;
	position: relative;
}

.trabalho-item .tb-info {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	padding: 30% 0;
}
.trabalho-item .tb-info .tb-info-tras {
	position: absolute;
	left: 0;
	top: 50%;
	right: 0;
	bottom: 0;
	margin: -160px auto 0 auto;
	
	width: 320px;
	height: 320px;
	border-radius: 50%;
	background: #fff;
	
	opacity: 0;
	-webkit-transform: scale(0);
    -moz-transform: scale(0.1);
	-o-transform: scale(0.1);
	-ms-transform: scale(0.1);
    -webkit-transition: all 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	-ms-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;
}

#home_comotrabalhamos .trabalho-item .tb-info .tb-info-tras .voltar{
	display: none;	
}
.trabalho-item .tb-info .tb-info-tras h4 {
	margin-top: 60px;
	display: inline-block;
	font: normal 16pt/1em "nexa_bold",Tahoma;
	color: #004961;
	border-bottom: 1px solid #004961;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.trabalho-item .tb-info .tb-info-tras p {
	padding: 30px 50px;	
	font: normal 12pt/1.5em "droid_serif",Tahoma;
	color: #004961;
}
.tb-info-frente {
	/*margin: 30% auto;*/
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;
}
.tb-info-frente .texto {
	display: block;
}
.tb-info-frente .texto h4 {
	font: normal 18pt/1em "nexa_bold", Tahoma;
	display: inline-block;
	border-bottom: 2px solid #336d81;
	padding-bottom: 5px;
	text-transform: uppercase;
	margin-top: 20px;
	color: #fff;
}
/*Para ter o efeito hover apenas em monitores */
@media only screen and (min-width: 1024)  {  
	#home_comotrabalhamos .trabalho-item:hover { 
		border-width: 30px;	
	}
		
		
	.trabalho-item:hover {
		height: 100%;
		width: 100%;
		/*background: #fff;*/
		border-radius: 50%;
		/*margin: 10% auto;
		border: 30px solid #8dc63f;*/
		position: relative;
	}
	.trabalho-item:hover .tb-info .tb-info-tras {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		/*margin: 80px auto;*/
	}
	.trabalho-item:hover .tb-info-frente {
		opacity: 0;
		
	}
}
#home_comotrabalhamos .trabalhamos_2 {
	background: #fdba31;
}
#home_comotrabalhamos .trabalhamos_3 {
	background: #004961;
}

#home_comotrabalhamos .trabalhamos_4 .trabalho-item:hover .tb-info .tb-info-tras {
	background: #fdba31;
}
/*****************************************************************/
/****** FIM Página incial - ÁREA DE COMO TRABALHAMOS *************/
/*****************************************************************/

/*****************************************************************/
/************ Página incial - ÁREA DE NOTICIAS *******************/
/*****************************************************************/
#home_noticias {
	background: #f1f2f2;
	position: relative;
}
#home_noticias .noticias h1{
	margin: 0 auto;
	padding: 140px 25% 45px;
	text-align:center;
	font: normal 42pt/1em "nexa_bold", Tahoma;
	color: #fdba31;
	width: 600px;
}
#home_noticias .noticias {
	position: relative;
	overflow: hidden;
} 
#home_noticias .noticias .item_noticia {
	margin: 40px auto;
	position: relative;
	display: block;
	height: 170px;
	width: 800px;
}
#home_noticias .noticias .item_noticia:hover > p { 
	color: #8dc63f;
}
#home_noticias .noticias .item_noticia hr {
	border: none;
	border-top: 1px solid #8dc63f;
	-webkit-margin-start: 0;
	width: 0.1%;
	
}
#home_noticias .noticias .item_noticia h5{
	font: normal 18pt/1em "nexa_bold", Tahoma;
	color: #8dc63f;
	margin: 10px 20px;
	position: absolute;
	margin-top: 1000px;
}
#home_noticias .noticias .item_noticia p{
	font: normal 14pt/1.5em "droid_serif", Times;
	color: #939598;
	margin-left: 170px;
	position: absolute;
	margin-top: 700px;
	opacity: 0;
}


#home_noticias .item_noticia a, .compartilhar_noticia {
	position: absolute;
	
	/*top: 40%;*/
	width: 70px;
	height: 70px;
	border: 9px solid #004961;
	border-radius: 50%;
	text-align: center;
}
/*#home_noticias .item_noticia .continue_lendo {
	right: -90px;
}*/
#home_noticias .item_noticia .compartilhar_noticia {
	cursor: pointer;
	right: 10px;
}
#home_noticias .item_noticia .continue_lendo:before {
	content: 'AAA';
	line-height: 70px;
}
#home_noticias .item_noticia .compartilhar_noticia:before {
	content: 'BBB';
	line-height: 70px;
}

#home_noticias .item_noticia .compartilhar_noticia > a {
	line-height: 70px;	
}
#home_noticias .item_noticia .compartilhar_noticia .compartilhar_face:before {
	content: 'FFF'
}
#home_noticias .item_noticia .compartilhar_noticia .compartilhar_google:before {
	content: 'GGG'
}
#home_noticias .item_noticia .compartilhar_noticia .compartilhar_twitter:before {
	content: 'TTT'
}
#home_noticias .item_noticia .compartilhar_noticia > a {
	top: -10;
	right: -10;
	opacity: 0;
	transition:all 0.3s ;
  	-moz-transition:all 0.3s;
  	-webkit-transition:all 0.3s ease 0s;
}
#home_noticias .wrapper_icon_noticias {
	position: absolute;
	top: 40%;
	right: -200;
	opacity: 0;
	height: 90px;
	width: 200px;
}
/*Para ter o efeito hover apenas em monitores */
@media only screen and (min-width: 1024)  {  
	#home_noticias .item_noticia .compartilhar_noticia:hover > a{
		opacity: 1;
	}
	#home_noticias .item_noticia:hover > .wrapper_icon_noticias, .wrapper_icon_noticias:hover{
		opacity: 1;
	}
	#home_noticias .item_noticia .compartilhar_noticia:after {
		content: '';
		width: 160px;
		height: 200px;
		display: inline-block;
		position: absolute;
		top: -70px;
	}
	#home_noticias .item_noticia .compartilhar_noticia:hover > a, #home_noticias .item_noticia > .compartilhar_noticia:hover > a{
		transition:all 0.3s ;
	  	-moz-transition:all 0.3s;
	  	-webkit-transition:all 0.3s ease 0s;
	  	/*-webkit-animation: aparecebtnoticia 0.1s;
		-moz-animation: aparecebtnoticia 0.1s;
		animation: aparecebtnoticia 0.1s;*/
		opacity: 1;
	}
	#home_noticias .item_noticia .compartilhar_noticia:hover > a {
		right: -110px;
	}
	#home_noticias .item_noticia .compartilhar_noticia:hover > .compartilhar_face{
		top: -100px;
		opacity: 1;
	}
	#home_noticias .item_noticia .compartilhar_noticia:hover > .compartilhar_google {
		top: -10px;
		opacity: 1;
	}
	#home_noticias .item_noticia .compartilhar_noticia:hover > .compartilhar_twitter {
		top: 80px;
		opacity: 1;
	}
	@-webkit-keyframes aparecebtnoticia {
		0%{
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
	}
}

/*Botao mais noticias*/
#home_noticias .bt_padrao1 {
	opacity: 0;
	width: 100%;
}
#home_noticias .bt_padrao1 a {
	margin: 60px 0 80px 50%;
}
#home_noticias .bt_padrao1 .circulo {
	background: #004961;
}
#home_noticias .bt_padrao1 .mensagem {
	background: #004961;
}
#home_noticias .bt_padrao1 p {
	background: #f1f2f2;
}
#home_noticias .bt_padrao1 a:hover > .mensagem p {
	color: #004961;
}
/*****************************************************************/
/************ FIM Página incial - ÁREA DE NOTICIAS ***************/
/*****************************************************************/

/*****************************************************************/
/************ Página incial - ÁREA DE RODAPE *********************/
/*****************************************************************/
#home_rodape {
	background: #243942;
	position: relative;
}
#home_rodape .midias_sociais {
	text-align: left;
	background: #fdba31;
	min-height: 130px;
	padding: 80px 10%;
}
#home_rodape .midias_sociais .mensagem {
	opacity: 0;
	float: left;
	width: 40%;
	margin: 45px 0;
}
#home_rodape .midias_sociais .mensagem h4{
	font: normal 22pt/1.2em "nexa_bold", Tahoma;
	color: #004961;
	width: 450px;
}
#home_rodape .midias_sociais .mensagem p{
	font: normal 12pt/1.5em "droid_serif", Times;
	color: #004961;
	margin-top: 20px;
}

#home_rodape .newsletter {
	background: #cd9929;
	width: 100%;
	padding: 25px 0;
	text-align: center;
	
}

#home_rodape .newsletter h4 {
	font: normal 14pt/1.2em "nexa_light", Tahoma;
	color: #FFF;
}
#home_rodape .newsletter form { 
	display: none;
	margin: 0;
}
#home_rodape .newsletter form input[type="text"] {
	border: none;
	background: transparent;
	font: normal 16pt/1.2em "nexa_light", Tahoma;
	color: #fff;
	outline: none;
}
#home_rodape .newsletter form .bt_enviar {
	display: inline-block;
	background: #fdba31;
	padding: 2px;
}
#home_rodape .newsletter form input[type="submit"] {
	border: none;
	padding: 9px 15px 6px 14px;
	font: normal 12pt/1em "nexa_bold", Tahoma;
	color: #fff;
	background: #cd9929;
	text-transform: uppercase;
}

#home_rodape .newsletter form ::-webkit-input-placeholder {
   color: #FFF;
}
#home_rodape .newsletter form :-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
}

#home_rodape .newsletter form ::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;  
}

#home_rodape .newsletter form :-ms-input-placeholder {  
   color: #FFF;  
}


#home_rodape .rodape {
	background: #243942;
	padding: 150px 10% 110px;
	height: 150px;
}
#home_rodape .rodape .mensagem_wrapper {
	display: inline-block;
	float: left;
	width: 485px;
	border: 1px solid #fefefe;
	padding: 7px;
	box-shadow: 0px -1px 0px 0px #7b888d;
	-moz-box-shadow: 0px -1px 0px 0px #7b888d;
	-webkit-box-shadow:0px -1px 0px 0px #7b888d;
}
#home_rodape .rodape .mensagem {
	width: 100%;
	background: #004961;
	display: inline-block;
	position: relative;
	border: 1px solid #163f4e;
}
#home_rodape .rodape .mensagem img {
	margin: 37px 25px 40px 20px;
	float: left;
}
#home_rodape .rodape .mensagem p {
	margin: 25px 15px 25px 10px;
	font: normal 10px/1.5em "nexa_light", Tahoma;
	color: #FFF;
	letter-spacing: 1px;
}
#home_rodape .rodape .endereco {
	text-align: right;
	display: inline-block;
	float: right;
}
#home_rodape .rodape .endereco h3{
	font: normal 18px/1.5 "nexa_bold", Tahoma;
	color: #fdba31;
}
#home_rodape .rodape .endereco h5{
	font: normal 14px/1.5 "nexa_light", Tahoma;
	color: #fff;
}
#home_rodape footer {
	text-align: center;
	bottom: 30px;
	position: inherit;
}
#home_rodape footer p{
	font: normal 10px/1.5 "nexa_light", Tahoma;
	color: #fff;
}

.midias_sociais a{
	box-shadow: 0 0 0 5px #004961;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	
	
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
}
.midias_sociais a:before {
	font-family: 'icones';
	content: "\e600";
	speak: none;
	font-size: 48px;
	line-height: 150px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	color:#fdba31;
}
.midias_sociais a:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #004961;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}
.midias_sociais a:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}
/*****************************************************************/
/************ FIM Página incial - ÁREA DE RODAPE *****************/
/*****************************************************************/

.carregando {
	/*margin-top: 200px;
	height: 200px;*/
}


/*****************************************************************/
/************ Inicio Página Trabalhos - **************************/
/*****************************************************************/


/*****************************************************************/
/************ Página Trabalhos - Menu ****************************/
/*****************************************************************/
#trabalhos .menu_trabalhos {
	text-align: center;
}
#trabalhos .menu_trabalhos ul { 
	margin: 10px 0px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e6e7e8;
}
#trabalhos .menu_trabalhos ul li{
	display: inline-block;
	margin: 10px 10px;
	
}
#trabalhos .menu_trabalhos ul li:hover > a {
	border-color: #a1cf63;
	background: #fff;
	transition: all 0.4s ease 0s;
  	-moz-transition: all 0.4s ease 0s;
  	-webkit-transition: all 0.4s ease 0s;
}
#trabalhos .menu_trabalhos ul .ativo {
	border: 2px solid #a1cf63;
	background: #FFF;
}
#trabalhos .menu_trabalhos ul li a{
	font: normal 8pt/1em 'nexa_bold', Tahoma;
	color: #bdbdbd;
	margin: 2px 0px 10px 0px;
	text-transform: uppercase;
	padding: 15px 30px;
	border: 2px solid transparent;
	letter-spacing: 1px;
}
/*****************************************************************/
/************ Página Trabalhos - FIM Menu ************************/
/*****************************************************************/

/*****************************************************************/
/************ Página Trabalhos - TRABALHOS************************/
/*****************************************************************/
#trabalhos {
	padding-top: 240px;
}
#trabalhos .titulo {
	text-align: center;
	margin-bottom: 65px;
}
#trabalhos .titulo h1{
	font: normal 48pt/1em "nexa_bold", Tahoma;
	color: #8dc63f;
}
#trabalhos .titulo h1 span{
	color: #bdbdbd;	
}

/*#trabalhos .corpo_trabalhos .item {
	height: 260px;
	width: 360px;
	/*width: 25%;
	float: left;
	position: relative;
}*/
#trabalhos .corpo_trabalhos .item img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
#trabalhos .corpo_trabalhos .item:hover > .hover{
	opacity:1;	
}
#trabalhos .corpo_trabalhos .item .hover {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	background: rgba(19,69,95,0.7);
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0.2s;
	-moz-transition: all 0.4s ease-in-out 0.2s;
	-o-transition: all 0.4s ease-in-out 0.2s;
	-ms-transition: all 0.4s ease-in-out 0.2s;
	transition: all 0.4s ease-in-out 0.2s;
}
#trabalhos .corpo_trabalhos .item .hover h4{
	color: #fff;
	font: normal 10pt/1.5em "nexa_bold", Tahoma;
	text-transform:uppercase;
	margin: 25% auto;
	padding: 0 15%;
}
/*****************************************************************/
/************ Página Trabalhos - FCOMPARTILHAR *******************/
/*****************************************************************/

#trabalhos .compartilhar {
	text-align: center;
	margin: 0 auto;
	width: 415px;
	margin-bottom: 150px;
}
#trabalhos .compartilhar h3 { 
	font: normal 28pt/1em "nexa_bold", Tahoma;
	color: #12425c;
	margin: 0px 0px 25px 0px;	
}
#trabalhos .compartilhar h4 {
	font: normal 14pt/1.5em "droid_serif", Times;
	color: #808285;
	padding: 0px 80px;
	margin-bottom: 50px;
}

#trabalhos .compartilhar .botoes_amarelos .bt_facebook {
	margin: 0 10px;
	display: inline-block;
}
#trabalhos .compartilhar .botoes_amarelos .bt_facebook a {
	font-family: 'icones';
	font-size:24pt;
	height: 70px;
	width: 70px;
	background: #fdba31;
	border-radius: 50%;
	background-color: #fdba31;
	-moz-transition:0.8s all;
	-webkit-transition:0.8s all;
	text-align:center;
	display: block;
}
#trabalhos .compartilhar .botoes_amarelos .bt_facebook a:hover {
	background: rgba(255,255,255,1);
	box-shadow: 0 0 0 8px rgba(36, 57, 66,1);
}
#trabalhos .compartilhar .botoes_amarelos .bt_facebook a:before {
	content: "\e600";
	color: #fff;
	speak: none;
	line-height: 70px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
}

#trabalhos .compartilhar .botoes_amarelos .bt_facebook a:hover:before {
	color: #fdba31;
}
#trabalhos .compartilhar .botoes_amarelos .bt_facebook a:hover:before {
	-webkit-animation: toRightFromLeft 0.3s;
	-moz-animation: toRightFromLeft 0.3s;
	animation: toRightFromLeft 0.3s;
}
@-moz-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
/*****************************************************************/
/************ Página Trabalhos - FIM COMPARTILHAR *****************/
/*****************************************************************/

/*****************************************************************/
/************ Página Trabalhos - Detalhe do trabalho *************/
/*****************************************************************/
#trabalhos .detalhe_trabalho .detalhe {
	text-align: center;
	margin: 100px auto 240px;
	width: 970px;
	height:auto;
}
#trabalhos .detalhe_trabalho .detalhe .descricao {
	margin: 0 auto;
}
#trabalho_detalhe_menu {
	display:none;
} 
#trabalhos .detalhe_trabalho .detalhe .descricao .intro{
	display: inline-block;
	width: 35%;
	text-align: left;
	float: left;
}
#trabalhos .detalhe_trabalho .detalhe .descricao .intro h2 {
	font: normal 26pt/1.4em "nexa_bold", Times;
	color: #004961;
	margin-bottom: 20px;
	border-bottom: 1px solid #8dc63f;
	padding-bottom: 25px;
}
#trabalhos .detalhe_trabalho .detalhe .descricao .intro p {
	font-family:"droid_serif", Times;
	font-size: 10pt;
	line-height: 1.4em;
	color: #4f4e4e;
	font-weight: normal;
}
#trabalhos .detalhe_trabalho .detalhe .descricao .info {
	display: block;
	width: 100%;	
	text-align: left;
}
#trabalhos .detalhe_trabalho .detalhe .descricao .info p {
	font: normal 12pt/1.9em "droid_serif", Times;
	color: #4f4e4e;
	-webkit-column-count:2; /* Chrome, Safari, Opera */
	-moz-column-count:2; /* Firefox */
	column-count:2;
	column-gap: 50px;
	-webkit-column-gap: 50px;
	padding-left: 20px;
}
#trabalhos .detalhe_trabalho .detalhe .full-info {
	margin: 80px auto;
}
#trabalhos .detalhe_trabalho .detalhe .full-info img {
	margin: 0px auto 65px;
	width: auto;
	max-width: 100%;
	display: block;
}
#trabalhos .detalhe_trabalho .detalhe .full-info p {
	font: normal 12pt/1.9em "droid_serif", Times;
	padding-left: 50px;
	color: #4f4e4e;
	text-align: justify;
	display: block;
	margin-bottom: 110px;
}
#trabalhos .detalhe_trabalho .detalhe .full-info span {
	float: left;
	background: #004961;
	text-indent: -9999;
	width: 5px;
	height: 25px;
	margin: 0 2px;
}
/*****************************************************************/
/************ Página Trabalhos - FIM detalhes do trabalho ********/
/*****************************************************************/

/*****************************************************************/
/************ FIM Inicio Página Trabalhos - **********************/
/*****************************************************************/


/*****************************************************************/
/******************** GERAL - CARREGANDO *************************/
/*****************************************************************/
#carregando {
	position: fixed;
	top: 0;
	right: 0;
	border-style: solid;
	border-width: 0 86px 86px 0;
	border-color: transparent #004961 transparent transparent;
}
#carregando img{
	position: absolute;
	top: 4px;
	right: -90px;
}
/*****************************************************************/
/******************** GERAL - CARREGANDO *************************/
/*****************************************************************/


/****************************************************************/
/****************** Classes de tamanho padrao *******************/
/****************************************************************/
.titulo_padrao_1 {
	text-align: center;
	margin-bottom: 65px;
	padding-top: 240px;
}
.titulo_padrao_1 h1{
	font: normal 48pt/1em "nexa_bold", Tahoma;
	color: #8dc63f;
}



/****************************************************************/
/****************** Página Especialidades ***********************/
/****************************************************************/
#especialidades .wrapper_especialidades {
	width: 100%;
	background: #8dc63f;
	min-height: 300px;
	padding-bottom: 200px;
}
#especialidades .especialidades_items .wrapper_items {
	display: block;
	padding: 85px 0 125px;
	width: 100%;
	height: auto;
	text-align: center;
}

#especialidades .especialidades_items, #especialidades .especialidades_formulario {
	width: 80%;
	max-width: 1000px;
	text-align: center;
	margin: 0 auto;
}
#especialidades .especialidades_items .item {
	width: 280px;
	height: 280px;	
	background-color: #e6e6e6;
	border-radius: 50%;
	position: relative;
	display: inline-block;
	margin: 20px 20px;
	cursor: pointer;
	-webkit-transition: 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	-ms-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;
}
#especialidades .especialidades_items .item .item-child {
	width: 100%;
	height: 100%;
}
#especialidades .especialidades_items .item .item-child > p {
	position: absolute;
	bottom: 60px;
	text-align: center;
	width: 100%;
	/*display: none;*/
	opacity: 0;
	font: normal 12pt/1.3em nexa_bold, Times;
	color: #fff;
	margin-left: 40px;
	width: 200px;
	letter-spacing: 1.5px;
	-webkit-transition: 0.2s ease-in-out 1.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	-ms-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;
}
#especialidades .especialidades_items .item:hover { 
	background: #78a22f;			
}
#especialidades .especialidades_items .item:hover p{ 
	opacity: 1;
}
#especialidades .especialidades_items .item .item-child-span {
	position: absolute;
	left: 0;
	top: 50%;
	right: 0;
	bottom: 0;
	margin: -90px auto 0 auto;
	width: 160px;
	height: 160px;
	-webkit-transition: 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	-ms-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;
}
@media only screen and (min-width: 1024)  {  
	#especialidades .especialidades_items .item:hover .item-child-span {
		top: 40%;
	}
}
#especialidades .especialidades_items .item .item-child-span img {
	position: absolute;
	margin: -90px auto 0 auto;
	right: 0;
	bottom: 0;
}
#especialidades .especialidades_drag_items:before, #especialidades .especialidades_drag_items_min:before { 
	content: 'Arraste até aqui as especialidades que você gostaria de conhecer melhor.';
	font: normal 18pt/1.5em nexa_bold, Times;
	color: #fff;
	margin: 40px 0 0 205px;
	text-align: center;
	position: absolute;
	line-height: 1.4;
	width: 60%;
	letter-spacing: 1px;
	
}
#especialidades .especialidades_drag_items_min:before { 
	font: normal 12pt/1.5em nexa_bold, Times;
	color: #fff;
	margin: 15px 0 0 175px;
	width: 80%;
	letter-spacing: 1px;
}
#especialidades .ocultar_frase:before {
	content: '';	
}
#especialidades .especialidades_drag_items {
	width: 85%;
	max-width: 1024px;
	height: 150px;
	margin: 0 auto;
	background: #97d346;
	border-radius: 90px;
	padding: 0 30px;
	position: relative;
	/*-webkit-transition: 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	-ms-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;*/
}
#especialidades .especialidades_drag_items .wrapper_items{
	width: 95%;
	margin: -45 0 0 0;
	top: 50%;
	position: absolute;
	
}
#especialidades .especialidades_drag_items img {
	width: 90px;
}
#especialidades .especialidades_drag_items_min img {
	width: 50px;
	margin: 1 10px;
}
#especialidades .especialidades_drag_items img , #especialidades .especialidades_drag_items_min img {
	
	margin: 0 10px;	
	-webkit-transition: 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	-ms-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;
}
#especialidades .especialidades_drag_items .wrapper_items span {
	width: 10px;
	height: 10px;
	background: red;
	position: absolute;
	cursor: pointer;
}
#especialidades .especialidades_drag_items .imagem_zero, #especialidades .especialidades_drag_items_min .imagem_zero {
	-webkit-transform: scale(0);
    -moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	
}


#especialidades .especialidades_drag_items_min {
	width: 100%;
	position: fixed;
	top: 70%;
	z-index: 2;
}
#especialidades .especialidades_drag_items_min .wrapper_items{
	width: 75%;
	height: 50px;
	max-width: 1024px;
	margin: 0 auto;
	background: #97d346;
	border-radius: 90px;
	padding: 0 10px;
	box-shadow: 1px 9px rgba(0, 0, 0, 0.15);
	text-align: center;
	/*-webkit-transition: 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	-ms-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;*/
}
#especialidades .especialidades_drag_items_min .wrapper_items img:first-child{
	margin-left: 50px;	
}


#especialidades .especialidades_items .item .wrapper-descricao {
	display: block;
	opacity: 0;
	position: absolute;
	background: #e6e6e6;
	z-index: -99;
	cursor: auto;
}
#especialidades .especialidades_items .item .wrapper-descricao .descricao {
	margin: 100px auto;
}
#especialidades .especialidades_items .item .wrapper-descricao .descricao .fechar {
	color: #fdbb30;
	position: absolute;
	margin: -50px 0 0 -80px;
	background: #004a61;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 1.5;
	cursor: pointer;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 20pt;
}
#especialidades .especialidades_items .item .wrapper-descricao .descricao > img {
	position: relative;
	margin: 0 50 0 0;
}
#especialidades .especialidades_items .item .wrapper-descricao .descricao .descricao-texto {
	display: inline-block;
	margin: 0;
	vertical-align: top;
	text-align: left;
	width: 600px;
}
#especialidades .especialidades_items .item .wrapper-descricao .descricao .descricao-texto h3, .wrapper-descricao .descricao .descricao-texto h4 {
	font: normal 34pt/1.5em nexa_bold, Times;
	color: #fdba31;
	padding: 0 0 20px 0;	
}
#especialidades .especialidades_items .item .wrapper-descricao .descricao .descricao-texto p {
	font: normal 16pt/1.5em droid_serif, Times;
	color: #4f4e4e;
	margin-bottom: 50px;
}
#especialidades .especialidades_items .item .wrapper-descricao .descricao .descricao-texto h4 {
	font-size: 22pt;	
}
#especialidades .especialidades_items .item .wrapper-descricao .descricao .descricao-texto a {
	display: block;
	font: normal 12pt/1.8em droid_serif, Times;
	color: #004961;
	text-decoration: underline;
}


#especialidades .especialidades_formulario {
	margin-top: 60px;
} 
#especialidades .especialidades_formulario > div {
	display: inline-table;
}
#especialidades .especialidades_formulario .especialidades_selecionadas {
	width: 29%;	
}
#especialidades .especialidades_formulario .especialidades_selecionadas ul li{
	background: #e6e6e6;
	border-radius: 20px;
	padding: 7px 0;
	width: 240;
	font: normal 10pt/1em droid_serif, Times;
	list-style: none;
	margin: 10px 0;
	position: relative;
	cursor: pointer;
}
#especialidades .especialidades_formulario .especialidades_selecionadas ul li:before{ 
	content: 'X';
	position: absolute;
	left: 10;
	font: bold 10pt/1em "droid_serif";
	color: #7fa73b;
		
}
#especialidades .especialidades_formulario .especialidades_formulario_envio {
	width: 60%;
	margin-left: 10%;
	text-align: left;
	position: relative;
}
#especialidades .especialidades_formulario h3 {
	font: normal 16px/1em "nexa_bold", Times;
	color: #004961;
	margin-bottom: 30px;
	padding: 0;
}
#especialidades .especialidades_formulario form p {
	font: normal 10px/1em "droid_serif", Times;
	color: #004961;
	margin: 10px 0px
}
#especialidades .especialidades_formulario form input[type="text"] {
	width: 100%;
	background: #FFF;
	border: none;
	height: 50;
	padding: 0 15px;
	font: normal 16pt/1.5em droid_serif, Times;
	color: #8dc63f;
	margin: 10px 0;
	display: block;
}
#especialidades .especialidades_formulario form input[type="text"]:focus {
	background: #004961;
}
#especialidades .especialidades_formulario form input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
    color: #8dc63f;
}
#especialidades .especialidades_formulario form input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #8dc63f;
}
#especialidades .especialidades_formulario form input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #8dc63f;
}
#especialidades .especialidades_formulario form input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #8dc63f;
}

#especialidades .especialidades_formulario form input[type="submit"] {
	right: 0;
	position: absolute;
	background: #78a22f;
	border: 5px solid #fdba31;
	font: normal 14pt/1em nexa_bold, times;
	color: #fff;
	padding: 10px 30px;
	text-transform: uppercase;
}



/*******************************************************************/
/***************** PÁGINA NOTICIAS *********************************/
/*******************************************************************/
#noticia .titulo_padrao_1 h1{
	border-bottom: 1px solid #e6e7e8;
	padding-bottom: 60px;
}
#noticia .noticia-info {
	background: #fff;
	padding-top: 55px;
	padding-bottom: 200px;
}
#noticia .noticia-info .wrapper_noticia {
	width: 1024px;
	margin: 0 auto;
	
}
#noticia .noticia-info .wrapper_noticia .categorias {
	display: inline-block;
	width: 19%/*200px*/;
	float: left;
}
#noticia .noticia-info .wrapper_noticia .categorias h5 {
	font: normal 12pt/1.5em nexa_bold, Times;
	color: #bdbdbd;
	letter-spacing: 1.5px;
	
}
#noticia .noticia-info .wrapper_noticia .categorias ul {
	padding: 0;
} 
#noticia .noticia-info .wrapper_noticia .categorias ul li, #noticia .wrapper_noticia .categorias ul li a {
	list-style: none;
	text-transform: uppercase;
	font: normal 22pt/1.5em nexa_bold, Times;
	color: #78a22f;
	text-decoration: none;
	letter-spacing: 1.5px;
}
#noticia .noticia-info .wrapper_noticia .categorias ul li a:hover {
	color: #fdba31;
}
#noticia .noticia-info .wrapper_noticia .noticia{
	display: inline-block;
	width: 77% /* 800px*/;
	margin-left: 2.5%/*24px*/;
}

#noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #f2f2f2;
	display: inline-block;
	box-shadow: 0px 1px 0px 0px #cacaca;
}

#noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia h2 {
	width: 62%/*500px*/;
	font: normal 28pt/1.5em nexa_bold, Times;
	color: #004961;
	float: left;
}
#noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download {
	display: inline-block;
	float: right;
	width: 33%/*270px*/;
	margin-left: 2.4%/*30px*/;
}
#noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download h4{
	font: normal 16pt/1.5em nexa_bold, Times;
	color: #bdbdbd;
}
#noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download ul {
	padding: 0;
}
#noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download ul li{
	list-style: none;
	font: normal 12pt/1.5em droid_serif, Times;
	color: #6c6c6c;
	text-align: right;
	border-bottom: 1px solid #ebeced;
	margin-bottom: 5px;
	padding-bottom: 5px;
	position: relative;
	margin-left: -10px;
}
#noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download ul li a {
	color: #6c6c6c;
	width: 80%;
	display: inline-block;
}
#noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download ul li a:hover,
#noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download ul li a:hover:before   {
	color: #8dc63f;
}
#noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download ul {
	padding-left: 15;
}
#noticia .noticia-info .wrapper_noticia .noticia .titulo_noticia .recursos_download ul li a:before {
	content: 'V';
	position: absolute;
	left: 0;
	color: #c1c1c1;
}

#noticia .noticia-info .wrapper_noticia .noticia .data_publicacao {
	clear: both;
}
#noticia .noticia-info .wrapper_noticia .noticia .data_publicacao h3 {
	font: normal 16pt/1.5em nexa_bold, Times;
	color: #78a22f;
	margin-bottom: 40px;
	letter-spacing: 1.5px;
}

#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia {
	width: 100px;
	position: absolute;
	display: block;
}
#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .texto_noticia {
	margin-left: 120px;
	font: normal 12pt/1.8em droid_serif, Times;
	color: #6c6c6c;
}
#noticia .noticias_ultimas .wrapper_ultimas {
	width: 1024px;
	margin: 0 auto;
	display: table;
	margin-bottom: 90px;
}
#noticia .noticias_ultimas .wrapper_ultimas h3 {
	font: normal 22pt/1.5em nexa_bold, Times;
	color: #004961;
	margin: 40px 0 50px;
}
#noticia .noticias_ultimas .wrapper_ultimas .ultima_adicionada {
	width: 30%;
	float: left;
}
#noticia .noticias_ultimas .wrapper_ultimas .ultima_adicionada:nth-child(odd) {
	margin: 0 4%;	
}
#noticia .noticias_ultimas .wrapper_ultimas .ultima_adicionada h4{
	font: normal 16pt/1.5em nexa_bold, Times;
	color: #78a22f;
	margin-bottom: 15px;
	letter-spacing: 1.5px;
}
#noticia .noticias_ultimas .wrapper_ultimas .ultima_adicionada img{
	width: 100%;
	height: auto;	
}
#noticia .noticias_ultimas .wrapper_ultimas .ultima_adicionada h5{
	font: normal 16pt/1.5em nexa_bold, Times;
	color: #004961;
	margin: 45px 0 20px;		
}
#noticia .noticias_ultimas .wrapper_ultimas .ultima_adicionada p {
	font: normal 12pt/1.5em droid_serif, Times;
	color: #4f4e4e;
	margin-bottom: 40px;		
}
#noticia .noticias_ultimas .wrapper_ultimas .ultima_adicionada .ultimas_leiamais {
	text-align: center;
}
#noticia .noticias_ultimas .wrapper_ultimas .ultima_adicionada .ultimas_leiamais a{
	height: 15px;
	width: 50px;
	display: inline-block;
	margin-left: -50px;	
}
#noticia .noticias_ultimas .wrapper_ultimas .ultima_adicionada .ultimas_leiamais:before {
	content: "OOO";
	color: #bdbdbd;	
}
#noticia .noticias_ultimas .wrapper_ultimas .ultima_adicionada .ultimas_leiamais:hover:before {
	color: #8dc63f;
}


#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .continue_lendo,
#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra a {
	position: absolute;
	width: 70px;
	height: 70px;
	/*border: 9px solid #004961;*/
	box-shadow: 0px 0px 0px 9px #004961;
	border-radius: 50%;
	text-align: center;			
	-webkit-transition: 0.3s;	
	margin-left: 5%;
}
#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .continue_lendo:before {
	content: 'CCC';
	color: #fdba31;
	line-height: 70px;
}
#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra:hover .continue_lendo{
	background: #004961;
	box-shadow:none;
}
#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra .compartilhar_face,
#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra .compartilhar_google,
#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra .compartilhar_twitter {
	opacity: 0;
	top: 0;
	z-index: 1;
	-webkit-transition: 0.3s;
	-webkit-animation: 0.2s;
	color: #fdba31;
	line-height: 70px;
}
#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra:hover {
	height: 400px;
}
#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra:hover .compartilhar_face {
	opacity: 1;
	top: 100px;
}
#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra:hover .compartilhar_google {
	opacity: 1;
	top: 200px;
}
#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .compartilhar_noticia_integra:hover .compartilhar_twitter {
	opacity: 1;
	top: 300px;
}	
#noticia .noticia-info .wrapper_noticia .noticia .noticia_detalhe .share_noticia .share_mobile {
	display:none;
}

/*******************************************************************/
/***************** FIM PÁGINA NOTICIAS *****************************/
/*******************************************************************/